<div class="container" >

    <div class="box-principal">
      <div class="row">
          <!--  TITULO   -->
        <div class="col-12" style="text-align: center;">Gorjetos</div>
        <!--CAIXA FATURA-->
        <div class="col-12 text-center" style="text-align: center;"  >
            <div class="row">
              <div class="col"></div>
              <div class="col">
                <label for="cpf"></label>
                <input type="number" id="inputFatura" class="form-control text-center"  placeholder="Fatura" required  autofocus [(ngModel)]="n1" >

              </div>
              <div class="col"></div>
            </div>

        </div>

        <!-- CAIXA PESSOAS  -->

        <div class="col-12"  style="text-align: center;">
          <div class="row">
            <div class="col"></div>
            <div class="col">
              <input type="number" id="inputQuatidade" class="form-control text-center" placeholder="Pessoas:" required
              [(ngModel)]="n2">
            </div>
            <div class="col"></div>
          </div>
        </div>

          <!--  CAIXA GARÇOM   -->
          <div class="col-12"  style="text-align: center;">
        <div class="row" >
          <div class="col"></div>
          <div class="col">
            <input type="number" id="inputGarcon" class="form-control text-center" placeholder="Garçom %" required
            [(ngModel)]="n3" >
          </div>
          <div class="col"></div>
        </div>
      </div>

        <!--CAIXA BOTÕES-->
        <div class="col-12"  style="text-align: center;">
        <div class="row" style="text-align: center;">
          <div class="col-12">
            <button type="submit"class="btn btn-lg btn-primary btn-block" (click)="calcular()">Calcular</button>
            <button type="reset" class="btn btn-lg btn-dark btn-block" (click)="Reset()">Limpar</button></div>
        </div>
        </div>
      </div>
      <div class="col-12"  style="text-align: center;">
      <div>
        <div class="row">
          <div class="col" class="text-center" ><p class="Text-Resultado">Valor -> {{n4}}</p> <p class="Text-Resultado">Por pessoa -> {{n5}} </p> </div>

        </div>
      </div>
       </div>
    </div>
  </div>
